<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #180161; font-size:100%; text-align:left; color:white">

<h3 align="center"><font color='#DAA520'>ðŸ’¡ About the Dataset</font></h3>
    
This dataset contains comprehensive information on 2,392 high school students, detailing their demographics, study habits, parental involvement, extracurricular activities, and academic performance. The target variable **GradeClass**, classifies students' grades into distinct categories, providing a robust dataset for educational research, predictive modeling, and statistical analysis.

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Import Necessary Libraries</h2>
</div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.metrics import accuracy_score, classification_report
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

import warnings
warnings.filterwarnings("ignore")

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Load the Data</h2>
</div>

In [2]:
df = pd.read_csv("data/Student_performance_data _.csv")

In [3]:
df.head()

   StudentID  Age  Gender  Ethnicity  ParentalEducation  ...  Sports  Music  Volunteering       GPA  GradeClass
0       1001   17       1          0                  2  ...       0      1             0  2.929196         2.0
1       1002   18       0          0                  1  ...       0      0             0  3.042915         1.0
2       1003   15       0          2                  3  ...       0      0             0  0.112602         4.0
3       1004   17       1          0                  3  ...       0      0             0  2.054218         3.0
4       1005   17       1          0                  2  ...       0      0             0  1.288061         4.0

[5 rows x 15 columns]

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Sanity Check of Data</h2>
</div>

In [5]:
df.shape

(2392, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [7]:
df.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [10]:
for i in df.columns:
	print(df[i].value_counts())
	print("***" * 10)

StudentID
1001    1
2590    1
2592    1
2593    1
2594    1
       ..
1798    1
1799    1
1800    1
1801    1
3392    1
Name: count, Length: 2392, dtype: int64
******************************
Age
15    630
16    593
17    587
18    582
Name: count, dtype: int64
******************************
Gender
1    1222
0    1170
Name: count, dtype: int64
******************************
Ethnicity
0    1207
1     493
2     470
3     222
Name: count, dtype: int64
******************************
ParentalEducation
2    934
1    728
3    367
0    243
4    120
Name: count, dtype: int64
******************************
StudyTimeWeekly
19.833723    1
16.082185    1
2.543624     1
7.971184     1
3.403053     1
            ..
18.116988    1
10.324956    1
3.074986     1
18.434533    1
17.819907    1
Name: count, Length: 2392, dtype: int64
******************************
Absences
25    93
13    93
12    92
8     91
19    90
20    90
6     88
15    87
23    86
7     86
1     85
27    84
14    84
5     83
21    83
17    81
24    81
26    80
3     79
16    79
18    79
11    71
22    71
2     69
29    69
4     69
0     67
9     67
10    61
28    54
Name: count, dtype: int64
******************************
Tutoring
0    1671
1     721
Name: count, dtype: int64
******************************
ParentalSupport
2    740
3    697
1    489
4    254
0    212
Name: count, dtype: int64
******************************
Extracurricular
0    1475
1     917
Name: count, dtype: int64
******************************
Sports
0    1666
1     726
Name: count, dtype: int64
******************************
Music
0    1921
1     471
Name: count, dtype: int64
******************************
Volunteering
0    2016
1     376
Name: count, dtype: int64
******************************
GPA
0.000000    16
4.000000     7
2.929196     1
2.527607     1
2.167615     1
            ..
1.687900     1
2.952146     1
0.963375     1
3.334972     1
2.140014     1
Name: count, Length: 2371, dtype: int64
******************************
GradeClass
4.0    1211
3.0     414
2.0     391
1.0     269
0.0     107
Name: count, dtype: int64
******************************

In [11]:
df.drop(["StudentID"], axis=1, inplace=True)

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Exploratory Data Anlaysis (EDA)</h2>
</div>