<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #180161; font-size:100%; text-align:left; color:white">

<h3 align="center"><font color='#DAA520'>ðŸ’¡ About the Dataset</font></h3>
    
This dataset contains comprehensive information on 2,392 high school students, detailing their demographics, study habits, parental involvement, extracurricular activities, and academic performance. The target variable **GradeClass**, classifies students' grades into distinct categories, providing a robust dataset for educational research, predictive modeling, and statistical analysis.

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Import Necessary Libraries</h2>
</div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.metrics import accuracy_score, classification_report
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

import warnings
warnings.filterwarnings("ignore")

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Load the Data</h2>
</div>

In [2]:
df = pd.read_csv("data/Student_performance_data _.csv")

In [3]:
df.head()

   StudentID  Age  Gender  Ethnicity  ParentalEducation  ...  Sports  Music  Volunteering       GPA  GradeClass
0       1001   17       1          0                  2  ...       0      1             0  2.929196         2.0
1       1002   18       0          0                  1  ...       0      0             0  3.042915         1.0
2       1003   15       0          2                  3  ...       0      0             0  0.112602         4.0
3       1004   17       1          0                  3  ...       0      0             0  2.054218         3.0
4       1005   17       1          0                  2  ...       0      0             0  1.288061         4.0

[5 rows x 15 columns]